.auth-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.auth-banner-container {
  display: none;
}

.auth-form-container {
  width: 100%;
  border: 1px solid red;
}

@media (min-width: 576px) {
  .auth-form-container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .auth-form-container {
    width: 550px;
  }
}

@media (min-width: 1200px) {
  .auth-container {
    padding: 40px;
  }

  .auth-banner-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .auth-banner-container h1 {
    font-size: 40px;
    letter-spacing: -0.015em;
    margin-bottom: 20px;
  }

  .auth-banner-container p {
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
  }

  .auth-banner-container svg {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .auth-banner-container {
    width: 650px;
  }

  .auth-banner-container h1 {
    font-size: 55px;
    margin-bottom: 30px;
  }

  .auth-banner-container p {
    font-size: 24px;
  }
}
