.btn-container {
  display: flex;
}

.btn-container button {
  border-radius: 10px 0 0 10px;
}

.btn h6 {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.bnt-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 0px 10px 10px 0px;
  background-color: #33569b;
}

@media (min-width: 576px) {
  .bnt-icon-container {
    height: 70px;
    width: 70px;
  }
  .btn h6 {
    font-size: 18px;
  }
}
