ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.adim-nav-container {
  padding: 20px 10px;
  background: #fff;
}

.admin-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}

.admin-nav-item p {
  margin-bottom: 0;
}

.admin-nav-item.active {
  background: rgba(64, 123, 255, 0.3);
  color: #407bff;
}

@media (min-width: 576px) {
    .admin-nav-item {
      min-width: 150px;
    }
  }

@media (min-width: 768px) {
  .admin-nav-item {
    min-width: 230px;
  }
}

@media (min-width: 1200px) {
  .adim-nav-container {
    padding: 0;
    width: 300px;
    height: calc(100vh - 70px);
  }

  ul {
    flex-direction: column;
    justify-content: unset;
  }

  .admin-nav-item {
    width: 100%;
    border-radius: 0;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
    height: 80px;
    justify-content: flex-start;
    padding-left: 40px;
    font-size: 18px;
  }
}
